cluster_template_name = "k8s"
cluster_name = "k8s"
network_driver = "calico"
master_count = 1
node_count = 2
flavor_name = "general.v1.tiny"
image_name = "FedoraAtomic29-20190820"
fixed_network_name = "demo-vxlan"
fixed_subnet_id = "b01a903e-9b8e-43c8-9ef2-49cbc898edf1"
external_network_id = "275ec9cd-a51e-4747-a2c4-23bb72d1cc06"
public_key_file = "~/.ssh/id_rsa.pub"
