cloud = "cumulus-dev"
cluster_name = "k8s"
flavor_name = "general.v1.tiny"
image_name = "FedoraAtomic29-20190820"
keypair_name = "default"
fixed_network_name = "demo-vxlan"
fixed_subnet_name = "demo-vxlan"
external_network_name = "internet"
public_key_file = "~/.ssh/id_rsa.pub"
