cluster_template_name = "k8s"
cluster_name = "k8s"
network_driver = "calico"
master_count = 2
node_count = 2
max_node_count = 4
master_flavor_name = "general.v1.tiny"
flavor_name = "general.v1.tiny"
image_name = "FedoraAtomic29-20191028.0"
fixed_network_name = ""
fixed_subnet_id = ""
external_network_id = "external-network-id"
public_key_file = "~/.ssh/id_rsa.pub"
master_fip_enabled = "true"
fip_enabled = "true"
volume_driver = ""
use_podman = "true"
kube_tag = "v1.16.3" # https://hub.docker.com/r/openstackmagnum/kubernetes-apiserver/tags
cloud_provider_tag = "v1.16.0" # https://hub.docker.com/r/k8scloudprovider/openstack-cloud-controller-manager/tags
etcd_tag = "3.2.26"
